<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>My Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">

                <div class="">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="#home-section" class="nav-link">Home</a></li>
                            <li><a href="#services-section" class="nav-link">Services</a></li>
                            <li><a href="#about-section" class="nav-link">About</a></li>

                        </ul>
                    </nav>
                </div>

                <div class=" text-center mx-5">
                    <h1 class="m-0 site-logo"><a href="/">Me.</a></h1>
                </div>

                <div class="text-left">

                    <nav class="site-navigation position-relative" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="#portfolio-section" class="nav-link">Portfolio</a></li>
                            <li><a href="#clients-section" class="nav-link">Client</a></li>
                            <li><a href="#contact-section" class="nav-link">Contact</a></li>
                        </ul>
                    </nav>


                    <div class="d-inline-block d-lg-none" style="position: relative; top: 3px;"><a href="#"
                                                                                                   class="site-menu-toggle js-menu-toggle float-right"><span
                            class="icon-menu h3"></span></a></div>

                </div>

            </div>
        </div>

    </header>


    <div class="site-blocks-cover overlay bg-light" id="home-section">

        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-12 mt-lg-5 text-left align-self-center text-intro">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="text-black">I'm Adeyinka Michael</h1>
                            <p class="lead">I'm an IT Personel and Web Developer and Computer engineer Based in Lagos city</p>
                            <p><a href="#portfolio-section" class="btn smoothscroll btn-primary">Portfolio</a></p>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <img src="{% static 'images/mike.jpg' %}" alt="Image" class="img-face" data-aos="fade">


    </div>


    <div class="site-section" id="services-section">
        <div class="container">
            <div class="row ">
                <div class="col-12 mb-5 position-relative">
                    <h2 class="section-title text-center mb-5">My Services</h2>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="service d-flex h-100">
                        <div class="service-number mr-4"><span class="icon-style"></span></div>
                        <div class="service-about">
                            <h3>IT Personel</h3>
                            <p>IT personnel I install, upgrade, maintain, test and troubleshoot a company's IT
                                infrastructure, which includes computer equipment such as personal computers, laptops
                                and networking equipment.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="service d-flex h-100">
                        <div class="service-number mr-4"><span class="icon-business_center"></span></div>
                        <div class="service-about">
                            <h3>Web Development</h3>
                            <p>As a Developer am responsible for designing, coding and modifying websites, from layout
                                to function and according to a client's specifications. Strive to create visually
                                appealing sites that feature user-friendly design and clear navigation.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="service d-flex h-100">
                        <div class="service-number mr-4"><span class="icon-desktop_windows"></span></div>
                        <div class="service-about">
                            <h3>Computer Engineer</h3>
                            <p>I conduct research on software and computer hardware.
                                Designing and testing computer hardware components, such as processors, circuit boards,
                                memory devices.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="service d-flex h-100">
                        <div class="service-number mr-4"><span class="icon-layers"></span></div>
                        <div class="service-about">
                            <h3>Consultant</h3>
                            <p>Responsibilities and Duties. Assist and support staff and users in the use of computer
                                hardware, software and networks. Troubleshoot and resolve end user questions and
                                problems. Maintain software and documentation libraries.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="site-section" id="about-section">
        <div class="container">
            <div class="row ">
                <div class="col-12 mb-4 position-relative">
                    <h2 class="section-title">About Me</h2>
                </div>
                <div class="col-lg-4 order-1 order-lg-2 mb-4 mb-lg-0">
                    <div class="bg-none">
                        <img src="{% static 'images/mike.jpg' %}" alt="Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-4 order-2 order-lg-1">
                    <p>An energetic and imaginative young Computer Engineer and also a Junior Website developer who is
                        able to work alongside other talented IT professionals in Pc maintenance, upgrade, repair and
                        developing website to the very highest standards. Adeyinka has a high awareness of industry
                        issues and trends particularly in accessibility, usability and emerging Technologies and he his
                        very fast at learning and adapting to new environment.</p>
                </div>
                <div class="col-lg-4 order-3 order-lg-3">
                    <p>adeyinkamichael95@gmail.com<br/>
                        Home: +234-706-3201-688<br/>
                        Address: No 27, Toyin-olokun street, Ijede-Ikorodu, Lagos State. <br/>
                    </p>
                    <p><a href="#contact-section" class="btn smoothscroll btn-primary">Contact Me</a></p>
                </div>

            </div>
        </div>
    </div>


    <section class="site-section block__62272" id="portfolio-section">


        <div class="container">
            <div class="row mb-5">
                <div class="col-12 position-relative">
                    <h2 class="section-title text-center mb-5">My Portfolio</h2>
                </div>
            </div>


            <div id="posts" class="row no-gutter">
                {% for pix in port %}
                <div class="item web col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mb-4">
                    <a href="https://calm-wildwood-50395.herokuapp.com/">
                        <img class="img-fluid" src="{{ pix.image.url }}" height="500" width="300"><br/><br/>
                        <p>{{pix.body}}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>


    <section class="site-section bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 position-relative">
                    <h2 class="section-title text-center mb-5 text-white">Work Experience/ Qualifications and Technical
                        skills</h2>
                </div>
            </div>
            <div class="owl-carousel slide-one-item">
                <div class="slide">
                    <blockquote>
                        <p>August 2016 – Jan 2018 IT Support Personnel, Deyus Technology Ikeja Lagos State
                            Job Responsibilities
                            . Pc consultant
                            . Pc maintenance
                            . Sales and Purchase
                            National Youth Service Corps (On-going batch (A) March 2019 – Feb 2020)
                            Assign for the post of Computer Engineer / IT personnel
                            Job Responsibilities
                            . Maintenance
                            . Youth Empowerment
                            . Skills acquisition
                            . Supervision and Inspection of desktops, Laptops etc
                        </p>
                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote>
                        <p>. Strong customer service and problem solving skills to Pc- repair, upgrade and optimization
                            . Superior facility with vista, windows,
                            . Strong knowledge of Microsoft Office suites,
                            .Profound creative and analytical problem-solving and troubleshooting skills,
                            . High verbal and written communication skills,
                            . Computer-consultant
                        </p>

                    </blockquote>
                </div>
                <div class="slide">
                    <blockquote>
                        <p>. Installation and setup: Software, Hardware, windows O/S and memory.
                            . Strong problem solving skills to Pc repair, troubleshoot and maintenance.
                            . IT Literate, Analytic skills, Excellent communication skills
                        </p>

                    </blockquote>
                </div>
            </div>
        </div>
    </section>

    <section class="site-section" id="clients-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 position-relative">
                    <h2 class="section-title text-center">Education/ Certification</h2>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
                    <p><b> Ladoke Akintola University of Technology, Ogbomosho, Nigeria
                        Bachelor’s degree – Computer Science and Engineering 2018<br/>
                        Grade: Second class upper</b>
                    </p>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center">
                    <p><b> PROFESSIONAL QUALIFICATION
                        Graduate Member, The Nigerian society of Engineers (NSE) 2019.
                    </b>
                    </p>
                </div>


            </div>
        </div>
    </section>


    <section class="site-section" id="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-5 position-relative">
                    <h2 class="section-title text-center mb-5">Contact Form</h2>
                </div>
            </div>
            <form action="#" class="form">
                <div class="row mb-4">
                    <div class="form-group col-6">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="form-group col-6">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="form-group col-12">
                        <input type="email" class="form-control" placeholder="Email address">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="form-group col-12">
                        <input type="text" class="form-control" placeholder="Subject of the message">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="form-group col-12">
                        <textarea name="" id="" cols="30" rows="10" class="form-control"
                                  placeholder="Type your message here.."></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" class="btn btn-primary" value="Send Message">
                    </div>
                </div>

            </form>
        </div>
    </section>

    <footer class="site-section bg-light footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <h3 class="footer-title">My Address</h3>
                    <p><span class="d-inline-block d-md-block">No 27 toyin olokun street oke-eletu ijede </span> Ikorodu,
                        Lagos state</p>
                </div>
                <div class="col-md-5 mx-auto">
                    <div class="row">
                        <div class="col-lg-4">
                            <h3 class="footer-title">Services</h3>
                            <ul class="list-unstyled">
                                <li><a href="#">IT personel</a></li>
                                <li><a href="#">Web developer</a></li>
                                <li><a href="#">Computer consultant</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="footer-title">Follow Me</h3>
                    <a href="#" class="social-circle"><span class="icon-twitter"></span></a>
                    <a href="#" class="social-circle"><span class="icon-facebook"></span></a>
                    <a href="#" class="social-circle"><span class="icon-instagram"></span></a>
                    <a href="#" class="social-circle"><span class="icon-dribbble"></span></a>
                    <a href="#" class="social-circle"><span class="icon-linkedin"></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            CopyRight Michaelnani {% now "Y"%}
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

</div> <!-- .site-wrap -->

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>


<script src="{% static 'js/main.js' %}"></script>

</body>
</html>